:root {
    /* Color variables */
    --background-color1: rgba(2, 0, 36, 1);
    --background-color2: rgba(75, 14, 154, 1);
    --background-color3: rgb(0, 238, 255);
    --form-background-color: rgb(255, 255, 255);
    --heading-color: rgb(255, 255, 255);
    --box-shadow-color: #0000007a;
    --logout-color: rgb(255, 81, 81);
    --cancel-color1: rgba(129, 3, 3, 0.603);
    --cancel-color2: rgb(255, 81, 81);
    --logout-color-text: rgb(151, 0, 0);
    --cancel-color-text: rgb(151, 0, 0);
    --insert-button-color1: rgb(6, 146, 6);
    --inser-button-color2: rgb(34, 255, 107);
    --insert-button-text: rgb(9, 75, 0);
    --delete-button-text: rgb(160, 0, 0);
    --delete-button-color: rgb(207, 0, 0);
    --home-button-color: rgb(85, 212, 0);
    --home-button-text: rgb(0, 121, 10);
}

* {
    /* Normalize CSS */
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

#app {
    margin: 0 !important;
    padding: 0;
    width: 90%;
    height: 90%;
    margin: auto !important;
}

#content {
    background: linear-gradient(60deg, var(--background-color1) 0%, var(--background-color2) 35%, var(--background-color3) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.text-center {
    text-shadow: 4px 4px 4px #1d1d1d7a;
}

.main-form {
    min-width: 450px;
    width: 25%;
    margin: auto;
    background-color: var(--form-background-color);
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 25px 25px 25px 1px var(--box-shadow-color);
    animation: slide-up-fade-in 1s ease;
}

.form-label {
    margin: 1.5rem 0 0 0;
    font-size: 1.5rem;
}

.form-control {
    width: 75% !important;
    margin: 0 auto;
}

button[class="btn btn-primary"] {
    position: relative;
    width: 75%;
    display: block;
    margin: 3rem auto 2rem auto;
    border-radius: 1.5rem;
    background: linear-gradient(90deg, var(--background-color3) 0%, var(--background-color2) 35%, var(--background-color1) 100%);
    transition: background-image 2s ease;
    z-index: 1;
    transition: box-shadow 1s;
}

button[class="btn btn-primary"]::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, var(--background-color1) 0%, var(--background-color2) 35%, var(--background-color3) 100%);
    transition: opacity 0.5s linear;
    z-index: -1;
    opacity: 0;
    border-radius: 1.5rem;
}

button[class="btn btn-primary"]:hover::before {
    opacity: 1;
    transition: opacity 0.5s linear;
    border-radius: 1.5rem;
}



@keyframes slide-up-fade-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Dashboard styles */
.dashboard {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, auto);
    width: 90vw;
    height: 80vh;
}

.dashboard-heading,
.cashflowlog-heading,
.entities-heading,
.graph-heading {
    width: 100%;
    color: var(--heading-color);
    text-shadow: 6px 6px 6px rgba(14, 14, 14, 0.534);
    animation: slide-up-fade-in 0.5s ease;
    margin-bottom: 20px;
}

.content-box {
    background-color: white;
    position: relative;
    border-radius: 2rem;
    box-shadow: 25px 25px 25px 1px var(--box-shadow-color);
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.cb1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    animation: slide-up-fade-in 1s ease;
    transition: transform 0.5s ease;
}

.cb1:hover,
.cb2:hover,
.cb3:hover,
.cb4:hover,
.cb5:hover {
    transform: translateY(-10px);
}

.btn-logout:hover,
.btn-home:hover {
    transform: translateY(-5px);
}

.cb2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    animation: slide-up-fade-in 1s ease;
    transition: transform 0.5s ease;
}

.cb3 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    animation: slide-up-fade-in 1.5s ease;
    transition: transform 0.5s ease;
}

.cb4 {
    animation: slide-up-fade-in 2s ease;
    transition: transform 0.5s ease;
}

.cb5 {
    grid-column: 1 / span(2);
    grid-row: 3 / 4;
    animation: slide-up-fade-in 2s ease;
    transition: transform 0.5s ease;
}

.chart-icon,
.cashflow-log-icon,
.current-info-icon,
.categories-graph-icon {
    position: sticky;
    float: left;
    margin-left: 1%;
    width: 100px;
}

.categories-graph-icon {
    margin-top: 0.5%;
}

.cashflow-log-icon,
.current-info-icon {
    margin-left: 0.5%;
}

.btn-logout {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--logout-color);
    color: var(--logout-color-text);
    border-color: var(--logout-color-text);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px var(--box-shadow-color);
    animation: slide-up-fade-in 1s ease;
    transition: transform 0.5s ease;
}

.btn-home {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: var(--home-button-color);
    color: var(--home-button-text);
    border-color: var(--home-button-text);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px var(--box-shadow-color);
    animation: slide-up-fade-in 1s ease;
    transition: transform 0.5s ease;
}

/*
.accordion-collapse.collapse {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
*/

/* Cashflow log styles */
.btn-insert {
    position: fixed;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 20%;
    height: 7%;
    background: linear-gradient(var(--insert-button-color1), var(--inser-button-color2));
    cursor: pointer;
    font-weight: bold;
    color: var(--insert-button-text);
    border-radius: 1rem;
    animation: slide-up-fade-in 1.5s ease;
    transition: transform 0.5s ease;
    border: none;
    font-size: 1rem;
    box-shadow: 7px 7px 7px 1px var(--box-shadow-color);
}

.btn-insert:hover {
    transform: translateY(-5px);
}

.btn-cashflow-close {
    cursor: pointer;
    font-weight: 400;
    color: var(--cancel-color-text);
    border-color: var(--cancel-color-text);
    background: linear-gradient(var(--cancel-color1), var(--cancel-color2));
    border-radius: 1rem;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    border: none;
    box-shadow: 3px 3px 3px 1px var(--box-shadow-color);
    transition: transform 0.5s ease;
}

.btn-cashflow-close:hover {
    transform: translateY(-5px);
}

.btn-save {
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
    color: var(--insert-button-text);
    border-color: var(--insert-button-text);
    background: linear-gradient(var(--insert-button-color1), var(--inser-button-color2));
    border-radius: 1rem;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    border: none;
    box-shadow: 3px 3px 3px 1px var(--box-shadow-color);
    transition: transform 0.5s ease;
}

.btn-save:hover {
    transform: translateY(-5px);
}

.btn-delete {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid rgb(231, 50, 50);
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
    transition: .3s;
}

.btn-delete:hover {
    background-color: rgb(245, 207, 207);
    transform: scale(1.2);
    box-shadow: 0 0 4px #111;
    transition: .3s;
}

svg {
    color: rgb(231, 50, 50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.btn-delete:focus svg {
    opacity: 0;
    transition: .3s;
}

.delete-message {
    width: 150px;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    color: rgb(231, 50, 50);
    font-weight: 600;
    transition: .3s;
}

.btn-delete:focus {
    width: 150px;
    height: 50px;
    transition: .3s;
}

.btn-delete:focus span {
    opacity: 1;
    transition: .3s;
}

.dashboard-text {
    color: var(--background-color1);
    text-shadow: 6px 6px 6px rgba(14, 14, 14, 0.534);
    margin-top: 1rem;
    display: block;
    font-weight: 700;
}

.current-balance {
    font-size: 1.5rem;
    margin-top: 1rem;
    display: block;
    font-weight: 700;
}

.current-balance:nth-child(1) {
    margin: 0;
}

.account {
    margin-bottom: 4rem;
}


/* Graph styles */
.graph-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-up-fade-in 1s ease;
    transition: transform 0.5s ease;
}

.graph-container:hover {
    transform: translateY(-5px);
}

.graph {
    width: 80vw;
    height: 70vh;
    margin: auto;
}

.entities-display-icon {
    margin-top: 20px;
    font-size: 4.5rem;
}